<div class="container-fluid ds_phim " id="filmblock">
  <!-- <h1 class="display-4" #target>Phim Đang Chiếu</h1> -->


  <div class="row">
    <div class="col-12 text-center">
      <ul>
        <li class=" mr-4"  [ngClass]="{'li_content':dangchieuStatus}" (click)="HienPhimDangChieu()"><span>PHIM ĐANG CHIẾU</span></li>
        <li class="" [ngClass]="{'li_content':!dangchieuStatus}" (click)="HienPhimSapChieu()"><span>PHIM SẮP CHIẾU</span></li>
      </ul>
    </div>
  </div>



  <div class="row" id="homeMovies">
      <div class="list_film " *ngIf="dangchieuStatus; else PhimSapChieu">
        <app-phim-dang-chieu></app-phim-dang-chieu>
        </div>

        <ng-template #PhimSapChieu>
            <div class="list_film2" >
                <app-phim-sap-chieu></app-phim-sap-chieu>
              </div>
        </ng-template>


  </div>
</div>
