<section id="newsBlog">
  <div class="container">
    <div class="row" >
      <!-- //NEWS -->
      <!-- <div class="block mainMaxWidth" id="homeNews"> -->
        <div class="col-md-6" >
          <h3>BÌNH LUẬN PHIM</h3>
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay"
                href="https://www.galaxycine.vn/binh-luan-phim/review-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai">
                <img src="https://galaxycine.vn/media/2019/4/30/endgame7_1556594495321.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="https://www.galaxycine.vn/binh-luan-phim/review-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai">
                [Review] Avengers Endgame: Cái Kết Không Thể Nào Tuyệt Vời Hơn Cho Một Thập Kỷ Vĩ Đại
              </a>
            </h5>

            <ul class="article-blog-like">
              <!-- <li>
                <div
                  data-href="https://www.galaxycine.vn/binh-luan-phim/review-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai"
                  data-layout="button_count" data-action="like" data-size="small" data-show-faces="false"
                  data-share="false" class="fb-like fb_iframe_widget" fb-xfbml-state="rendered"
                  fb-iframe-plugin-query="action=like&amp;app_id=1427253957539434&amp;container_width=0&amp;href=https%3A%2F%2Fwww.galaxycine.vn%2Fbinh-luan-phim%2Freview-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=small">
                  <span style="vertical-align: bottom; width: 84px; height: 20px;">
                    <iframe name="f2813486274b884"
                      allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                      title="fb:like Facebook Social Plugin"
                      style="border: medium none; visibility: visible; width: 84px; height: 20px;"
                      src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=1427253957539434&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df1877d09a214b6%26domain%3Dwww.galaxycine.vn%26origin%3Dhttps%253A%252F%252Fwww.galaxycine.vn%252Ff1d5d53899d968a%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.galaxycine.vn%2Fbinh-luan-phim%2Freview-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=small"
                      class="sp1" width="1000px" height="1000px" frameborder="0">
                    </iframe>
                  </span>
                </div>
              </li> -->
              <!-- view -->
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">2966</span>
                  </div>
                </span>
              </li>
              <!-- star -->
              <li>
                <div class="rating-movie rating-home">
                  <span class="rating-value">
                    <strong class="review-home ng-binding">7.56</strong>
                    <span>/10</span>
                    <span class="ng-binding">&nbsp;(16)</span>
                  </span>
                </div>
              </li>


            </ul>
            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                    Hơn 3 tiếng đồng hồ của Avengers: Endgame chúng ta có gì? Đó không chỉ là một dự án điện ảnh quan
                    trọng
                    của Marvel, đó còn là tuổi thơ, giấc mơ hay thậm chí là lý tưởng sống của hàng triệu fan hâm mộ trên
                    thế
                    giới. Sau này, lại
                    một thập kỷ hoặc nhiều năm hơn nữa trôi qua, khi tổng kết lại những điều tuyệt vời mà cuộc đời các bạn
                    đã
                    may mắn được chứng kiến, có lẽ, Avengers: Endgame sẽ là một trong số đó chăng?!
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>
          </article>
          <!-- news 2 -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay"
                href="https://www.galaxycine.vn/binh-luan-phim/review-lat-mat-nha-co-khach-lay-loi-va-kinh-di">
                <img src="https://galaxycine.vn/media/2019/4/12/lat-mat3_1555063595738.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="https://www.galaxycine.vn/binh-luan-phim/review-lat-mat-nha-co-khach-lay-loi-va-kinh-di">
                [Review] Lật Mặt Nhà Có Khách: “Lầy Lội” Và Kinh Dị
              </a>
            </h5>

            <ul class="article-blog-like">
              <!-- <li>
                  <div
                    data-href="https://www.galaxycine.vn/binh-luan-phim/review-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai"
                    data-layout="button_count" data-action="like" data-size="small" data-show-faces="false"
                    data-share="false" class="fb-like fb_iframe_widget" fb-xfbml-state="rendered"
                    fb-iframe-plugin-query="action=like&amp;app_id=1427253957539434&amp;container_width=0&amp;href=https%3A%2F%2Fwww.galaxycine.vn%2Fbinh-luan-phim%2Freview-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=small">
                    <span style="vertical-align: bottom; width: 84px; height: 20px;">
                      <iframe name="f2813486274b884"
                        allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                        title="fb:like Facebook Social Plugin"
                        style="border: medium none; visibility: visible; width: 84px; height: 20px;"
                        src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=1427253957539434&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df1877d09a214b6%26domain%3Dwww.galaxycine.vn%26origin%3Dhttps%253A%252F%252Fwww.galaxycine.vn%252Ff1d5d53899d968a%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.galaxycine.vn%2Fbinh-luan-phim%2Freview-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=small"
                        class="sp1" width="1000px" height="1000px" frameborder="0">
                      </iframe>
                    </span>
                  </div>
                </li> -->
              <!-- view -->
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">5864</span>
                  </div>
                </span>
              </li>
              <!-- star -->
              <li>
                <div class="rating-movie rating-home">
                  <span class="rating-value">
                    <strong class="review-home ng-binding">6.75</strong>
                    <span>/10</span>
                    <span class="ng-binding">&nbsp;(48)</span>
                  </span>
                </div>
              </li>


            </ul>
            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                    Sau một năm, vợ chồng Lý Hải – Minh Hà trở lại màn ảnh rộng với phần phim mới thuộc series Lật Mặt.
                    Liệu
                    bước đi tiếp theo của vị đạo diễn tay ngang này sẽ thành công như lần trước chứ?!
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>

          </article>
          <!-- news 3 -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay"
                href="https://www.galaxycine.vn/binh-luan-phim/review-shazam-tam-biet-den-toi-dc-chuyen-sang-lam-phim-sang-sua">
                <img src="https://galaxycine.vn/media/2019/4/5/shazam-new1_1554447349883.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="https://www.galaxycine.vn/binh-luan-phim/review-shazam-tam-biet-den-toi-dc-chuyen-sang-lam-phim-sang-sua">
                [Review] Shazam!: Tạm Biệt "Đen Tối", DC Chuyển Sang Làm Phim Sáng Sủa?
              </a>
            </h5>

            <ul class="article-blog-like">
              <!-- <li>
                  <div
                    data-href="https://www.galaxycine.vn/binh-luan-phim/review-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai"
                    data-layout="button_count" data-action="like" data-size="small" data-show-faces="false"
                    data-share="false" class="fb-like fb_iframe_widget" fb-xfbml-state="rendered"
                    fb-iframe-plugin-query="action=like&amp;app_id=1427253957539434&amp;container_width=0&amp;href=https%3A%2F%2Fwww.galaxycine.vn%2Fbinh-luan-phim%2Freview-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=small">
                    <span style="vertical-align: bottom; width: 84px; height: 20px;">
                      <iframe name="f2813486274b884"
                        allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                        title="fb:like Facebook Social Plugin"
                        style="border: medium none; visibility: visible; width: 84px; height: 20px;"
                        src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=1427253957539434&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df1877d09a214b6%26domain%3Dwww.galaxycine.vn%26origin%3Dhttps%253A%252F%252Fwww.galaxycine.vn%252Ff1d5d53899d968a%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.galaxycine.vn%2Fbinh-luan-phim%2Freview-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=small"
                        class="sp1" width="1000px" height="1000px" frameborder="0">
                      </iframe>
                    </span>
                  </div>
                </li> -->
              <!-- view -->
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">6040</span>
                  </div>
                </span>
              </li>
              <!-- star -->
              <li>
                <div class="rating-movie rating-home">
                  <span class="rating-value">
                    <strong class="review-home ng-binding">6.6</strong>
                    <span>/10</span>
                    <span class="ng-binding">&nbsp;(15)</span>
                  </span>
                </div>
              </li>


            </ul>
            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                    Shazam! hoàn toàn khác với những "người anh" trước trong vũ trụ DC mở rộng!
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>


          </article>
          <!-- news 4 -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay"
                href="https://www.galaxycine.vn/binh-luan-phim/preview-avengers-endgame-phim-duoc-cho-doi-nhat-2019">
                <img src="https://galaxycine.vn/media/2019/3/29/avengers-endgame-2_1553841144852.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="https://www.galaxycine.vn/binh-luan-phim/preview-avengers-endgame-phim-duoc-cho-doi-nhat-2019">
                [Preview] Avengers Endgame: Phim Được Chờ Đợi Nhất 2019
              </a>
            </h5>

            <ul class="article-blog-like">
              <!-- <li>
                  <div
                    data-href="https://www.galaxycine.vn/binh-luan-phim/review-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai"
                    data-layout="button_count" data-action="like" data-size="small" data-show-faces="false"
                    data-share="false" class="fb-like fb_iframe_widget" fb-xfbml-state="rendered"
                    fb-iframe-plugin-query="action=like&amp;app_id=1427253957539434&amp;container_width=0&amp;href=https%3A%2F%2Fwww.galaxycine.vn%2Fbinh-luan-phim%2Freview-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=small">
                    <span style="vertical-align: bottom; width: 84px; height: 20px;">
                      <iframe name="f2813486274b884"
                        allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                        title="fb:like Facebook Social Plugin"
                        style="border: medium none; visibility: visible; width: 84px; height: 20px;"
                        src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=1427253957539434&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fd_vbiawPdxB.js%3Fversion%3D44%23cb%3Df1877d09a214b6%26domain%3Dwww.galaxycine.vn%26origin%3Dhttps%253A%252F%252Fwww.galaxycine.vn%252Ff1d5d53899d968a%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.galaxycine.vn%2Fbinh-luan-phim%2Freview-avengers-endgame-cai-ket-khong-the-nao-tuyet-voi-hon-cho-mot-thap-ky-vi-dai&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=false&amp;size=small"
                        class="sp1" width="1000px" height="1000px" frameborder="0">
                      </iframe>
                    </span>
                  </div>
                </li> -->
              <!-- view -->
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">8966</span>
                  </div>
                </span>
              </li>
              <!-- star -->
              <li>
                <div class="rating-movie rating-home">
                  <span class="rating-value">
                    <strong class="review-home ng-binding">8.19</strong>
                    <span>/10</span>
                    <span class="ng-binding">&nbsp;(22)</span>
                  </span>
                </div>
              </li>


            </ul>

            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                    Có lẽ vào năm 2008, khi đặt viên gạch đầu tiên cho vũ trụ điện ảnh, chủ tịch Marvel Kevin Feige cũng
                    không nghĩ rằng viễn cảnh tương lai huy hoàng đến thế.
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>
          </article>
        </div>
      <!-- BLOG -->
        <div class="col-md-6">
          <h3>BLOG ĐIỆN ẢNH</h3>
          <!-- <hr class="w-10"> -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay"
                href="https://www.galaxycine.vn/movie-blog/vu-tru-dien-anh-marvel-se-ra-sao-sau-avengers-endgame">
                <img
                  src="https://galaxycine.vn/media/2019/5/15/mv5bzwexodq5zjgtnwnjoc00zdq3lwflm2etzmi1yzdlodbjndkzxkeyxkfqcgdeqxvynjg2njqwmdq--v1-sx1777-cr0-0-1777-937-al-_1557903107809.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="https://www.galaxycine.vn/movie-blog/vu-tru-dien-anh-marvel-se-ra-sao-sau-avengers-endgame">
                Vũ Trụ Điện Ảnh Marvel Sẽ Ra Sao Sau Avengers: Endgame?
              </a>
            </h5>
            <ul class="article-blog-like">
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">966</span>
                  </div>
                </span>
              </li>
            </ul>
            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                    <span style="line-height:107%">Trong thời gian chờ đợi bom tấn này phá kỷ lục huyền thoại
                      <i>Avatar</i>, hãy cùng ngẫm lại những gì vũ trụ Marvel đang sở hữu sau <strong>Hồi
                        Kết</strong>.</span>
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>
          </article>
          <!-- blog 2 -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay"
                href="https://www.galaxycine.vn/movie-blog/dan-sao-viet-thich-thu-check-in-tai-galaxy-trang-thi">
                <img src="https://galaxycine.vn/media/2019/5/9/uhmt8_1557370945564.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="https://www.galaxycine.vn/movie-blog/dan-sao-viet-thich-thu-check-in-tai-galaxy-trang-thi">
                Dàn Sao Việt Thích Thú Check-in Tại Galaxy Tràng Thi
              </a>
            </h5>
            <ul class="article-blog-like">
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">770</span>
                  </div>
                </span>
              </li>
            </ul>
            <div class="blog-content hidden-xs">
              <p>Sau đêm ra mắt đầu tiên tại TP. Hồ Chí Minh, dàn diễn viên Ước Hẹn Mùa Thu đã có mặt tại Hà Nội để tiếp
                tục các hoạt động quảng bá cho bộ phim.
                <!--| -->
              </p>
            </div>
          </article>
          <!-- blog 3 -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay"
                href="https://www.galaxycine.vn/movie-blog/4-ly-do-khien-gioi-tre-thu-do-khong-the-bo-qua-galaxy-trang-thi">
                <img src="https://galaxycine.vn/media/2019/5/3/450x300_1556856635912.JPG">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="https://www.galaxycine.vn/movie-blog/4-ly-do-khien-gioi-tre-thu-do-khong-the-bo-qua-galaxy-trang-thi">
                4 Lý Do Khiến Giới Trẻ Thủ Đô Không Thể Bỏ Qua Galaxy Tràng Thi
              </a>
            </h5>
            <ul class="article-blog-like">
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">1450</span>
                  </div>
                </span>
              </li>
            </ul>
            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                    <span style="line-height:107%">Sau Mipec Long Biên, Galaxy Tràng Thi là cụm rạp thứ hai thuộc hệ thống
                      rạp Galaxy Cinema xuất hiện tại Hà Nội. Liệu Galaxy Tràng Thi có những điểm hấp dẫn gì để thu hút
                      được giới trẻ Hà thành?.</span>
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>
          </article>
          <!-- blog 4 -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay" href="https://www.galaxycine.vn/movie-blog/hawkeye-co-toa-sang-nhu-loi-mcu-da-hua">
                <img
                  src="https://galaxycine.vn/media/2019/4/5/jeremy-renner-as-hawkeye-in-marvels-the-avengers_1554437725573.jpeg">
              </a>
            </div>
            <h5>
              <a class="has-overlay" href="https://www.galaxycine.vn/movie-blog/hawkeye-co-toa-sang-nhu-loi-mcu-da-hua">
                Hawkeye: Có Tỏa Sáng Như Lời MCU Đã Hứa?
              </a>
            </h5>
            <ul class="article-blog-like">
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">4966</span>
                  </div>
                </span>
              </li>
            </ul>
            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                    <span style="line-height:107%">Từng khiến chiếc tàu bay hiện đại bậc nhất của S.H.I.L.E.D suýt rơi ở
                      The Avengers (2012), chẳng ai hiểu nổi tại sao càng ngày Hawkeye lại càng yếu ớt thảm thương.
                    </span>
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>
          </article>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
