<section id="newsBlog">
  <div class="container">
    <div class="row" >
      <!-- //NEWS -->
      <!-- <div class="block mainMaxWidth" id="homeNews"> -->
        <div class="col-md-6" >
          <h3>BÌNH LUẬN PHIM</h3>


          <!-- news 3 -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay"
                href="#" routerLink="/home">
                <img src="../../../../assets/images/yeti.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="#" routerLink="/home">
                [Review] Người tuyết Yeti chưa bao giờ dễ thương như thế
              </a>
            </h5>

            <ul class="article-blog-like">

              <!-- view -->
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">6040</span>
                  </div>
                </span>
              </li>
              <!-- star -->
              <li>
                <div class="rating-movie rating-home">
                  <span class="rating-value">
                    <strong class="review-home ng-binding">6.6</strong>
                    <span>/10</span>
                    <span class="ng-binding">&nbsp;(15)</span>
                  </span>
                </div>
              </li>


            </ul>
            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                      Sau Răng Sún, "chiến binh" người tuyết của DreamWorks liệu có mang đến thành công tiếp theo?
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>


          </article>
          <!-- news 4 -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay"
                href="#" routerLink="/home">
                <img src="../../../../assets/images/godzilla.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="#" routerLink="/home">
                [Preview] Godzilla và những điều bạn chưa biết
              </a>
            </h5>

            <ul class="article-blog-like">
              <!-- view -->
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">8966</span>
                  </div>
                </span>
              </li>
              <!-- star -->
              <li>
                <div class="rating-movie rating-home">
                  <span class="rating-value">
                    <strong class="review-home ng-binding">8.19</strong>
                    <span>/10</span>
                    <span class="ng-binding">&nbsp;(22)</span>
                  </span>
                </div>
              </li>


            </ul>

            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                      Trước khi đại chiến diễn ra, cùng tìm hiểu mọi thông tin về Godzilla nào.
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>
          </article>
          <!-- news 5 -->
          <article class="blog">
              <div class="movie-thumb">
                <a class="has-overlay" href="#" routerLink="/home">
                  <img src="../../../../assets/images/endgame.jpg">
                </a>
              </div>
              <h5>
                <a class="has-overlay" href="#" routerLink="/home">
                  [Review] Avengers Endgame: Cái Kết Không Thể Nào Tuyệt Vời Hơn Cho Một Thập Kỷ Vĩ Đại
                </a>
              </h5>

              <ul class="article-blog-like">

                <!-- view -->
                <li style="margin-right: 10px; margin-left: 10px">
                  <span>
                    <div class="view-wrap">
                      <i class="icon-view"></i>
                      <span class="ng-binding">2966</span>
                    </div>
                  </span>
                </li>
                <!-- star -->
                <li>
                  <div class="rating-movie rating-home">
                    <span class="rating-value">
                      <strong class="review-home ng-binding">7.56</strong>
                      <span>/10</span>
                      <span class="ng-binding">&nbsp;(16)</span>
                    </span>
                  </div>
                </li>


              </ul>
              <div class="blog-content hidden-xs">
                <p>
                  <span style="font-size:14px;">
                    <span style="font-family:Arial,Helvetica,sans-serif;">
                      Hơn 3 tiếng đồng hồ của Avengers: Endgame chúng ta có gì? Đó không chỉ là một dự án điện ảnh quan
                      trọng
                      của Marvel, đó còn là tuổi thơ, giấc mơ hay thậm chí là lý tưởng sống của hàng triệu fan hâm mộ trên
                      thế
                      giới. Sau này, lại
                      một thập kỷ hoặc nhiều năm hơn nữa trôi qua, khi tổng kết lại những điều tuyệt vời mà cuộc đời các bạn
                      đã
                      may mắn được chứng kiến, có lẽ, Avengers: Endgame sẽ là một trong số đó chăng?!
                    </span>
                  </span>
                </p>
                <p>
                  <!--| -->
                </p>
              </div>
          </article>
          <!-- news 6 -->
          <article class="blog">
              <div class="movie-thumb">
                <a class="has-overlay"
                  href="#" routerLink="/home">
                  <img src="../../../../assets/images/lat-mat.jpg">
                </a>
              </div>
              <h5>
                <a class="has-overlay"
                  href="#" routerLink="/home">
                  [Review] Lật Mặt Nhà Có Khách: “Lầy Lội” Và Kinh Dị
                </a>
              </h5>

              <ul class="article-blog-like">

                <!-- view -->
                <li style="margin-right: 10px; margin-left: 10px">
                  <span>
                    <div class="view-wrap">
                      <i class="icon-view"></i>
                      <span class="ng-binding">5864</span>
                    </div>
                  </span>
                </li>
                <!-- star -->
                <li>
                  <div class="rating-movie rating-home">
                    <span class="rating-value">
                      <strong class="review-home ng-binding">6.75</strong>
                      <span>/10</span>
                      <span class="ng-binding">&nbsp;(48)</span>
                    </span>
                  </div>
                </li>


              </ul>
              <div class="blog-content hidden-xs">
                <p>
                  <span style="font-size:14px;">
                    <span style="font-family:Arial,Helvetica,sans-serif;">
                      Sau một năm, vợ chồng Lý Hải – Minh Hà trở lại màn ảnh rộng với phần phim mới thuộc series Lật Mặt.
                      Liệu
                      bước đi tiếp theo của vị đạo diễn tay ngang này sẽ thành công như lần trước chứ?!
                    </span>
                  </span>
                </p>
                <p>
                  <!--| -->
                </p>
              </div>

          </article>
        </div>
      <!-- BLOG -->
        <div class="col-md-6">
          <h3>BLOG ĐIỆN ẢNH</h3>
          <!-- <hr class="w-10"> -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay"
                href="#" routerLink="/home">
                <img
                  src="../../../../assets/images/blog1.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="#" routerLink="/home">
                4 cái tên nào sẽ mang đến bất ngờ cho khán giả 'nhí' vào nửa cuối năm 2019?
              </a>
            </h5>
            <ul class="article-blog-like">
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">966</span>
                  </div>
                </span>
              </li>
            </ul>
            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                    <span style="line-height:107%">Này thì chó rồi mèo, và rồi gì nữa đây...</span>
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>
          </article>
          <!-- blog 2 -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay"
                href="#" routerLink="/home">
                <img src="../../../../assets/images/blog2.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="#" routerLink="/home">
                Ngày X-Men - 20 năm thương hiệu dị nhân xuất hiện trên màn ảnh rộng
              </a>
            </h5>
            <ul class="article-blog-like">
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">770</span>
                  </div>
                </span>
              </li>
            </ul>
            <div class="blog-content hidden-xs">
              <p>Vào ngày 14.05, sự kiện Ngày X-Men sẽ được tổ chức để ghi nhớ những dấu ấn đặc biệt của Vũ trụ X-Men với cộng đồng người hâm mộ trên toàn thế giới, cũng như dấu ấn của các nhân vật được yêu mến tới nền văn hóa đại chúng.
                <!--| -->
              </p>
            </div>
          </article>
          <!-- blog 3 -->
          <article class="blog" >
            <div class="movie-thumb">
              <a class="has-overlay"
                href="#" routerLink="/home">
                <img src="../../../../assets/images/blog3.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay"
                href="#" routerLink="/home">
                'Gia thần' Ma Dong Seok 'ăn hành' trong trailer Trùm, Cớm và Ác Quỷ mới nhất
              </a>
            </h5>
            <ul class="article-blog-like">
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">1450</span>
                  </div>
                </span>
              </li>
            </ul>
            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                    <span style="line-height:107%">Sau hàng loạt bộ phim điện ảnh được ra rạp vào năm 2018, Ma Dong Seok đã chính thức trở lại với vai ông trùm trong dự án phim lần này. Đúng với tên gọi The Gangster, the Cop, the Devil (tựa Việt: Trùm, Cớm và Ác Quỷ), Ma Dong Seok sẽ cùng hai diễn viên Kim Moo Yul và Kim Sung Gyu tạo ra một cuộc đi săn đầy tình tiết gây cấn và táo bạo.</span>
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>
          </article>
          <!-- blog 4 -->
          <article class="blog">
            <div class="movie-thumb">
              <a class="has-overlay" href="#" routerLink="/home">
                <img
                  src="../../../../assets/images/blog4.jpg">
              </a>
            </div>
            <h5>
              <a class="has-overlay" href="#" routerLink="/home">
                'Cô nàng cử tạ' sẽ làm gì để ngăn chặn nạn phát tán clip 'nóng' trong Phi Vụ Nữ Quyền?
              </a>
            </h5>
            <ul class="article-blog-like">
              <li style="margin-right: 10px; margin-left: 10px">
                <span>
                  <div class="view-wrap">
                    <i class="icon-view"></i>
                    <span class="ng-binding">4966</span>
                  </div>
                </span>
              </li>
            </ul>
            <div class="blog-content hidden-xs">
              <p>
                <span style="font-size:14px;">
                  <span style="font-family:Arial,Helvetica,sans-serif;">
                    <span style="line-height:107%">Hàn Quốc làm phim về nạn quay lén và phát clip “nóng”, liệu tác phẩm có bộc lộ rõ nét tình trạng hiện tại của đất nước này?
                    </span>
                  </span>
                </span>
              </p>
              <p>
                <!--| -->
              </p>
            </div>
          </article>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
